#Stylesheet

div {
	margin:0;
	padding:0;
	display:block;
}
.wrapper {
	width:100%;
	text-align:center;
}
.container {
	width:400px;
}
h1 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	line-height:10px;
}
a h1 {
	color:#fff;
	text-decoration:none;
	font-size:54px;
}
a hr:hover {
	cursor:pointer;
	color:#ddd;
}
.menu {
	float:left;
	position:fixed;
	height:50px;
	width:100%;
	background-color:blue;
	color:#fff;
}
